/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* purgecss end ignore */

html {
    @apply text-white;
    @apply bg-gray-900;

    /* Resume timeline causes overflow on intersection.
       This can be removed when our PR gets merged to
       fix this.
    */
    overflow-x: hidden;
}

body {
    /* FIXME: Layout issues occur when unintended overflow
   is allowed on y axis. The offending parent element
   should absolutely be identified, but for sake of
   pushing through more important issues, we'll hide
   overflow on the whole document.

   This horizontal overflow is most likely necessary
   for a transition/animation somewhere.

   Worth noting that this creates redundancy with overflow-x
   rules for resume-timeline component's transition, however,
   having a separate rule will let us keep the 2 hacks loosely
   coupled.
 */

    overflow: hidden;
}

.vertical-timeline.vertical-timeline--two-columns::before {
    width: 1px !important;
}

.vertical-timeline-element-icon {
    box-shadow: none !important;
}

.vertical-timeline-element-icon img {
    border-radius: 50%;
}

.article-body h2 {
    @apply text-white;
    @apply text-4xl;
    @apply my-4;
    @apply flex;
    @apply items-center;
}

.article-body h2 em {
    @apply ml-2;
    @apply mr-4;
}

.article-body > img {
    @apply my-4;
}

.article-body p {
    @apply my-4;
}

.article-body .article-image {
    @apply my-8 !important;
    @apply p-4 !important;
}

.article-body .article-image img {
    @apply rounded;
}