/* purgecss start ignore */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: hsl(240 100% 4.3%);
}

html {
  @apply text-white;
  @apply bg-midnight-blue;
  /* Resume timeline causes overflow on intersection.
       This can be removed when our PR gets merged to
       fix this.
    */
  overflow-x: hidden;
}

.article-body h2 {
  @apply text-white;
  @apply text-4xl;
  @apply my-4;
  @apply flex;
  @apply items-center;
}

.article-body h2 em {
  @apply ml-2;
  @apply mr-4;
}

.article-body > img {
  @apply my-4;
}

.article-body p {
  @apply my-4;
}

.article-body .article-image {
  @apply my-8 !important;
  @apply p-4 !important;
}

.article-body .article-image img {
  @apply rounded;
}

.h-screen--nav-aware {
  height: calc(100vh - 96px);
}
